*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pamflet{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 800px;
    height: 800px;
    max-width: 100%;
    background: linear-gradient(lightgreen,lightblue);
    border-radius: 20px;
}
.logo{
    width: 700px;
    height: 70px;
    background-color:white;
    border-radius: 10px 10px 10px 10px;
    
}
.logo img{
    width: 30px;
    height: 30px;
    text-align: center;
}
.logo ul{
    padding: 20px;
    list-style-type: none;
    float: right;
    width: 680px;
    text-align: justify;
}
ul li{
    float: left;
    margin-left: 16px;
}

.tema{
    margin: 15px;
    font-size: 30px;
    color: teal;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
.univ{
    width: 400px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}
.univ img{
    width: 60px;
    height: 60px;
    padding: 5px;
}
.bgop img{
    opacity: 0.3;
    padding: 0px;
    width: 100%;
    border-radius: 50px 50px 0 0;
}
.bgop h1 {
    position: absolute;
    text-align: center;
    padding: 30px;
    z-index: 1;
    width: 740px;
    opacity: 0.8;
    color:bisque;
}
.box{
    border: 20px;
    border-color: blueviolet;

}
.rek{
    margin-top: 275px;
    position: absolute;
    float: left;
    width: 250px;
    text-align: justify;
    height: 25px;
    padding: 10px 50px 50px 50px;
    background-color: burlywood;
    border-radius: 0px 20px 20px 0px;
    color: white;
    z-index: 1;
    opacity: 0.7;
}
